@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-input-field {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-width: 1px;
}
