<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <link href="../src/styles.css" rel="stylesheet">
  <script src="loadMaxImages.js"></script>
</head>

<body class='h-screen grid grid-cols-1 justify-between ' onload="loadMaxImages('newArrivals',Math.max((screen.width / 320), 5));loadMaxImages('onSale',Math.max((screen.width / 320), 5));">
  <header class="w-full flex flex-row justify-end items-center space-x-2.5 h-24">
    <div name="logo" class="w-auto h-14 bg-neutral-300 rounded-2xl mr-auto ">
      <a href="index.html"><img src="../resources/icons/logo.png" alt="logo" class="h-full w-fit"></a>
    </div>
    <div name="search_bar" class="flex flex-row ">
      <input type="search" placeholder="Search.." class="ml-auto min-w-96 w-full max-w-2xl rounded-2xl border-gray-300 border-2 p-1 focus:outline-none">
      <img src="../resources/icons/searchIcon.png" alt="shopping cart icon" class="w-6 h-6 relative right-8 top-1">
    </div>
    <div name="cart_wrapper">
      <img src="../resources/icons/shoppingCart.png" alt="shopping cart icon" class="w-14 h-14">
    </div>
    <div name="login_wrapper">
      <a href="logInPage.html"><button type="submit" class="w-20 h-10 bg-neutral-400 text-white active:bg-neutral-200 rounded-2xl">Log in</button>
      </a>
    </div>
    <div name="register_wrapper">
      <a href="registerPage.html"><button type="submit" class="w-20 h-10 bg-black text-white active:bg-neutral-200 rounded-2xl">Register</button>
      </a>
    </div>
  </header>
  <main name="body_wrapper" class="w-full h-full">
    <div name="table wrapper" class="w-full px-20 h-fit">
      <div name="buttonWrapper" class="w-full h-fit grid">
        <button type="button" class="w-fit bg-black text-white rounded-lg p-3">+ Add Item</button>
      </div>
      <table class="w-full table-fixed">
        <thead class="gap-5 ">
          <td></td>
          <td><span>Category</span></td>
          <td><span>Name</span></td>
          <td><span>Price</span></td>
          <td><span>Stock</span></td>
          <td><span>Edit</span></td>
          <td><span>Delete</span></td>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class=" w-40 h-20 bg-neutral-300 rounded-lg overflow-hidden">
                <img src="../resources/product_images/example_shirt_front.png" alt="meow">
              </div>
            </td>
            <td><span>shirt</span></td>
            <td><span>cool shirt</span></td>
            <td><span>$28.00</span></td>
            <td><span>in Stock</span></td>
            <td><img src="../resources/icons/editIcon.png" alt="edit icon" class="w-12"></td>
            <td><img src="../resources/icons/trashIcon.png" alt="trash icon" class="w-12"></td>
          </tr>
          <tr>
            <td>
              <div class=" w-40 h-20 bg-neutral-300 rounded-lg overflow-hidden">
                <img src="../resources/product_images/example_shirt_front.png" alt="meow">
              </div>
            </td>
            <td><span>shirt</span></td>
            <td><span>cool shirt</span></td>
            <td><span>$28.00</span></td>
            <td><span>in Stock</span></td>
            <td><img src="../resources/icons/editIcon.png" alt="edit icon" class="w-12"></td>
            <td><img src="../resources/icons/trashIcon.png" alt="trash icon" class="w-12"></td>
          </tr>
          <tr>
            <td>
              <div class=" w-40 h-20 bg-neutral-300 rounded-lg overflow-hidden">
                <img src="../resources/product_images/example_shirt_front.png" alt="meow">
              </div>
            </td>
            <td><span>shirt</span></td>
            <td><span>cool shirt</span></td>
            <td><span>$28.00</span></td>
            <td><span>in Stock</span></td>
            <td><img src="../resources/icons/editIcon.png" alt="edit icon" class="w-12"></td>
            <td><img src="../resources/icons/trashIcon.png" alt="trash icon" class="w-12"></td>
          </tr>
          <tr>
            <td>
              <div class=" w-40 h-20 bg-neutral-300 rounded-lg overflow-hidden">
                <img src="../resources/product_images/example_shirt_front.png" alt="meow">
              </div>
            </td>
            <td><span>shirt</span></td>
            <td><span>cool shirt</span></td>
            <td><span>$28.00</span></td>
            <td><span>in Stock</span></td>
            <td><img src="../resources/icons/editIcon.png" alt="edit icon" class="w-12"></td>
            <td><img src="../resources/icons/trashIcon.png" alt="trash icon" class="w-12"></td>
          </tr>
          <tr>
            <td>
              <div class=" w-40 h-20 bg-neutral-300 rounded-lg overflow-hidden">
                <img src="../resources/product_images/example_shirt_front.png" alt="meow">
              </div>
            </td>
            <td><span>shirt</span></td>
            <td><span>cool shirt</span></td>
            <td><span>$28.00</span></td>
            <td><span>in Stock</span></td>
            <td><img src="../resources/icons/editIcon.png" alt="edit icon" class="w-12"></td>
            <td><img src="../resources/icons/trashIcon.png" alt="trash icon" class="w-12"></td>
          </tr>
          <tr>
            <td>
              <div class=" w-40 h-20 bg-neutral-300 rounded-lg overflow-hidden">
                <img src="../resources/product_images/example_shirt_front.png" alt="meow">
              </div>
            </td>
            <td><span>shirt</span></td>
            <td><span>cool shirt</span></td>
            <td><span>$28.00</span></td>
            <td><span>in Stock</span></td>
            <td><img src="../resources/icons/editIcon.png" alt="edit icon" class="w-12"></td>
            <td><img src="../resources/icons/trashIcon.png" alt="trash icon" class="w-12"></td>
          </tr>

        </tbody>
      </table>

      <button type="" class="p-2 border-2 rounded-lg">Load More</button>

    </div>
  </main>
  <footer class="w-full h-28 bottom-0 mt-auto">
    <hr>
    <div class='relative top-10 grid mx-auto grid-flow-col align-middle w-fit space-x-5'>
      <span>Contact</span>
      <span>FAQ</span>
      <span>c all rights reserved</span>
    </div>
  </footer>

</body>
