<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <link href="../src/styles.css" rel="stylesheet">
  <script src="loadMaxImages.js"></script>
</head>

<body class='h-screen flex flex-col justify-between ' onload="loadMaxImages('newArrivals',Math.max((screen.width / 320), 5));loadMaxImages('onSale',Math.max((screen.width / 320), 5));">
  <header class="w-full flex flex-row justify-end items-center space-x-2.5 h-24">
    <div name="logo" class="w-auto h-14 bg-neutral-300 rounded-2xl mr-auto ">
      <img src="../resources/icons/logo.png" alt="logo" class="h-full w-fit">
    </div>
    <div name="search_bar" class="flex flex-row ">
      <input type="search" placeholder="Search.." class="ml-auto min-w-96 w-full max-w-2xl rounded-2xl border-gray-300 border-2 p-1 focus:outline-none">
      <img src="../resources/icons/searchIcon.png" alt="shopping cart icon" class="w-6 h-6 relative right-8 top-1">
    </div>
    <div name="cart_wrapper">
      <img src="../resources/icons/shoppingCart.png" alt="shopping cart icon" class="w-14 h-14">
    </div>
    <div name="login_wrapper">
      <a href="logInPage.html"><button type="submit" class="w-20 h-10 bg-neutral-400 text-white active:bg-neutral-200 rounded-2xl">Log in</button>
      </a>
    </div>
    <div name="register_wrapper">
      <a href="registerPage.html"><button type="submit" class="w-20 h-10 bg-black text-white active:bg-neutral-200 rounded-2xl">Register</button>
      </a>
    </div>
  </header>
  <main name="body_wrapper" class="w-full h-full">
    <div name="buttonWrapper" class="w-full h-fit">
      <button type="button" class="bg-black text-white">+ Add Item</button>
    </div>
    <div name="table wrapper w-full h-fit">
      <table class="w-full ">
        <thead class="gap-5">
          <td></td>
          <td><span>Category</span></td>
          <td><span>Name</span></td>
          <td><span>Price</span></td>
          <td><span>Stock</span></td>
          <td><span>Edit</span></td>
          <td><span>Delete</span></td>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="w-14 h-14 bg-neutral-300 rounded-lg"></div>
            </td>
            <td>Shirt</td>
            <td>cool shirt</td>
            <td>$28.00</td>
            <td>in Stock</td>
            <td>icon</td>
            <td>icon</td>

        </tbody>
      </table>


    </div>
  </main>
  <footer class="w-full h-28 bottom-0 mt-auto">
    <hr>
    <div class='relative top-10 flex justify-center space-x-5'>
      <span>Contact</span>
      <span>FAQ</span>
      <span>c all rights reserved</span>
    </div>
  </footer>

</body>
