<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <!--<link href="/src/styles.css" rel="stylesheet">-->
</head>
<body class='h-screen flex flex-col justify-between '>
  <header class="w-full flex flex-row justify-end items-center " >
    <div name="logo" class="w-30 h-13 bg-gray-300 rounded-2xl mr-auto m-5">
    </div>
    <div name="search_bar" class="w-96">
       <input type="text" placeholder="Search.." class="w-full ">
    </div>
    <div name="cart_wrapper">
      <div name="placeholder" class="w-24 h-24 bg-green-200"></div>
    </div>
    <div name="login_wrapper">
      <div name="placeholder" class="w-24 h-24 bg-green-300"></div>
    </div>
    <div name="register_wrapper">
      <div name="placeholder" class="w-24 h-24 bg-green-500"></div>
    </div>
  </header>
  <main name="body_wrapper" class="">
  </main>
  <footer class="w-full h-28 bottom-0 mt-auto">
      <hr>
      <div class='w-full h-full flex justify-center align-middle space-x-5'>
        <span>Contact</span>
        <span>FAQ</span>
        <span>c all rights reserved</span>
      </div>
  </footer>
</body>
</html>


