

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <link href="../src/styles.css" rel="stylesheet">
  <script src="loadMaxImages.js"></script>
</head>
<body class='h-screen flex flex-col justify-between ' onload="loadMaxImages('newArrivals',Math.max((screen.width / 320), 5));loadMaxImages('onSale',Math.max((screen.width / 320), 5));">
  <header class="w-full flex flex-row justify-end items-center space-x-2.5 h-20" >
    <div name="logo" class="w-auto h-14 bg-neutral-300 rounded-2xl mr-auto m-5">
      <img src="../resources/icons/logo.png" alt="logo" class="max-h-28 h-fit">
    </div>
  </header>
  <main name="body_wrapper" class="flex justify-center  w-full h-full">
    <div class="flex flex-col my-auto space-y-3 w-120">
      <span >Register</span>
      <input class="border rounded-lg p-2 border-neutral-200" type="text" name="" value="" placeholder="Email">
      <span >Password</span>
      <input class="border rounded-lg p-2 border-neutral-200" type="text" name="" value="" placeholder="Password">
      <span >Re-enter Password</span>
      <input class="border rounded-lg p-2 border-neutral-200" type="text" name="" value="" placeholder="Password">
      <button class="border bg-black text-white p-2 rounded-xl" type="submit">Register</button>
      <a class="mx-auto" href="">have an account? Log in!</a>
      
      
    </div>

  </main>
  <footer class="w-full h-28 bottom-0 mt-auto">
      <hr>
      <div class='relative top-10 flex justify-center space-x-5'>
        <span>Contact</span>
        <span>FAQ</span>
        <span>c all rights reserved</span>
      </div>
  </footer>

</body>
</html>


